.custom-select {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 9px;
    transform: translateY(-50%);
    top: 50%;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: $color-gray6 transparent transparent transparent;
  }
}
