.custom-table {
  $p: &;
  $padding-y: 6px;
  $padding-x: 12px;
  border-spacing: 0 6px;
  padding: 0 10px;

  &__th,
  &__td {
    border: none !important;
  }

  &__th {
    box-sizing: border-box;
    padding: $padding-y $padding-x;
    background-color: $color-gray;
    vertical-align: top;

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }

    &:last-child {
      border-radius: 0 $radius $radius 0;
    }

    & + & {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        left: 0;
        height: calc(100% - #{$padding-y} * 2);
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-gray4;
      }
    }
  }

  &__td {
    padding: 0 $padding-x;
  }

  &__td-inner {
    max-width: 215px;
    overflow: hidden;
    white-space: nowrap;

    &--truncated {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 20px;
        right: 0;
        background: linear-gradient(90deg, rgba($color-white, 0), $color-white);
      }
    }
  }

  &__img {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__checkbox-cell {
    display: inline-flex;
    align-items: center;
  }

  &__checkbox {
    margin-right: 12px;
    flex-shrink: 0;
  }
}

.vgt-responsive {
  // FIXME: Фильтры обрезаются, если в таблице нет строк (мало высоты). Реализовать append-to-body для фильтров и убрать это
  min-height: 230px;
}
