$radius: 8px;
$radius2: 4px;

$color-white: #ffffff;

$color-black: #29333e;
$color-dark: #3a424b;

$color-gray: #f5f7f9;
$color-gray2: #d6dde3;
$color-gray3: #f0f4f9;
$color-gray4: #d1dfec;
$color-gray5: #8394a6;
$color-gray6: #098b7e;
$color-gray7: #ffecec;
$color-gray8: #ebebeb;

$color-blue: #2d67d6;
$color-blue2: #ecf6ff;
$color-dark-blue: #98b7d7;
$color-blue-inactive: #d9edff;

$color-red: #c13636;
