* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
  cursor: pointer;
}

th {
  font-weight: unset;
}

select,
input,
optgroup {
  font-size: 10px;
  line-height: 120%;
}

select,
input {
  width: 100%;
  height: 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

select {
  background: $color-gray3;
  padding: 5px 9px 7px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  $transition-delay: 0.15s;

  box-sizing: border-box;
  padding: 5px 7px 7px 7px;
  background: $color-white;
  transition: background-color $transition-delay ease,
    border $transition-delay ease, box-shadow $transition-delay ease,
    color $transition-delay ease;

  &::placeholder {
    color: $color-dark-blue;
  }

  &:focus {
    border: 1px solid rgba(45, 103, 214, 0.6);
    box-shadow: 0px 0px 4px rgba(156, 190, 255, 0.25);
    padding: 4px 6px 6px 6px;
  }

  &:disabled {
    background-color: $color-gray8;
    color: $color-gray5;
  }
}
